@model DoubleDeal.Web.ViewModels.CreateAuctionsViewModel


<div class="modal-header">
    <h5 class="modal-title">Create Auction</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form id="createForm" method="post" action="/Auctions/Create">
   
    

    <div class="modal-body">
        
        <div class="col-md-12">
            <div class="form-group">
                <label>Enter the Title <span class="text-danger">*</span></label>
                <input class="form-control" name="Title" />
            </div>
            <div class="form-group">
                <label>Category <span class="text-danger">*</span></label>
                <select class="form-control" name="CategoryID">
                    @foreach (var category in Model.Categories)
                    {
                    <option value="@category.ID">@category.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input class="form-control" name="Description" />
            </div>

            <div class="form-group">
                <label>Enter the ActualAmount</label>
                <input class="form-control" name="ActualAmount" />
            </div>
            <div class="form-group">
                <label>Enter the StartingTime</label>
                <input class="form-control" name="StaringTime" />
            </div>
            <div class="form-group">
                <label>Enter the EndingTime</label>
                <input class="form-control" name="EndTime" />
            </div>
            <div class="form-group">
                <label>Select Pictures</label>

                <input class="form-control" id="auctionPicture" name="AuctionPictures" type="file" multiple />
                <div id="PictureArea"></div>
                <input type="hidden" id="pictureIds" name="AuctionPictures" value="" />
            </div>
        </div>
            <div class="col-md-4">
                <div class="thumb">
                    <img class="img-thumbnail img-fluid" id="categoryImage" />
                </div>
            </div>
        
    </div>
    <div class="modal-footer">
        <button id="saveSubmit" type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</form>

<script>
    $("#saveSubmit").click(function () {
        var imagesIDs = [];
        $("#PictureArea .image").each(function () {
            var imageID = $(this).attr("data-id");
            imagesIDs.push(imageID);
        });
        $("#pictureIds").val(imagesIDs.join());
       $.ajax({
            url: '@Url.Action("Create", "Auctions")',
            method: "post",
            data: $("#createForm").serialize()
        }).done(function (response) {
            
            $("#listingArea").html(response);
            $("#formModal").modal('toggle');
            
        });
    });
    $("#auctionPicture").change(function () {
        var pictures = this.files;
        var picsData = new FormData();
        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i]);
        }
        $.ajax({
            url: '@Url.Action("UploadPictures", "Shared")',
            type: "post",
            data: picsData,
            dataType: 'json',
			contentType: false,
			processData: false
        }).done(function (responses) {
            
            //var picsIDs = "";
            for (var i = 0; i < responses.length; i++) {
                var picResonse = responses[i];
                AttachNewImage(picResonse.pictureURL, picResonse.ID);
               
            }
         
            
        });
    });
    function AttachNewImage(imageURL, imageID) {
        var $newingHTML = $("#imageTemplate").clone();
        $newingHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newingHTML.find(".image").attr("data-id", imageID);
        $("#PictureArea").append($newingHTML.html());
        RemoveImageOnClick();
    }
</script>

