
<div class="row">
    <div class="col-lg-12">
        <h2>Auction</h2>
        <div id="listingArea">
            @{Html.RenderAction("Listing");}
        </div>
       
        <div>
            <button id="CreateNewAuction" class="btn btn-success">Create New Auction</button>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="contextArea">

                </div>
            </div>
        </div>

    </div>
</div>
<script>
                $("#CreateNewAuction").click(function () {
                    $.ajax({
                        url: '@Url.Action("Create", "Auctions")',
                        type: "get"
                    }).done(function (response) {
                        $("#formModal").modal('toggle');
                        $("#contextArea").html(response);

                    });
                });

</script>

