
<div class="row">
    <div class="col-lg-12 m-2">
        <div class="float-left">
            <h2>Auction</h2>
        </div>
        
         <div class="float-right">
            <button id="CreateNewAuction" class="btn btn-success">Create New Auction</button>
        </div>
         <div id="listingArea">
             @{Html.RenderAction("Listing");}
         </div>
       
       



        <!-- Modal -->
        <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="contextArea">

                </div>
            </div>
        </div>

    </div>
</div>
<div id="imageTemplate" style="display:none">
    <img  class="image img-fluid" src=''/>
</div>
<script>
                $("#CreateNewAuction").click(function () {
                    $.ajax({
                        url: '@Url.Action("Create", "Auctions")',
                        type: "get"
                    }).done(function (response) {
                        $("#formModal").modal('toggle');
                        $("#contextArea").html(response);

                    });
                });
    function RemoveImageOnClick() {
        $("#PictureArea .image").click(function () {
            $(this).remove();
        });
    }

</script>

